.h-2 {
  font-size: var(--dxp-s-text-heading-large-font-size) !important;
  font-weight: var(--dxp-s-text-heading-large-font-weight) !important;
}

.h-3 {
  font-size: var(--dxp-s-text-heading-medium-font-size) !important;
  font-weight: var(--dxp-s-text-heading-medium-font-weight) !important;
}

.btn {
  --sds-c-button-radius-border: var(--dxp-s-button-radius-border) !important;
  font-size: var(--dxp-s-button-font-size) !important;
  height: 32px !important;
}

.btn-primary {
  /* --sds-c-button-success-color-background: var(--dxp-g-brand) !important; */
  --sds-c-button-brand-text-color: var(--dxp-g-brand-contrast) !important;
  /* --slds-c-button-success-color-border: solid 1px var(--dxp-g-root) !important; */
}

.btn-secondary {
  --sds-c-button-brand-color-background: var(--dxp-g-root) !important;
  --sds-c-button-brand-text-color: var(--dxp-s-button-color) !important;
  --sds-c-button-brand-color-border: solid 1px var(--dxp-s-button-color) !important;
}

.image-container {
  border-radius: 8px;
  position: relative;
  height: 200px;
  overflow: hidden;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.image {
  width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 33%;
  top: 0;
  bottom: 0;
  background: #d9d9d9;
  opacity: 0.8;
}

.txt {
  position: absolute;
  color: black;
  opacity: 1;
}