.h-2{
	font-size: var(--dxp-s-text-heading-large-font-size) !important;
  	font-weight: var(--dxp-s-text-heading-large-font-weight) !important;
}
.home-icon-css{
	--slds-c-icon-color-background: var(--dxp-g-brand) !important;
}